<ion-header>
</ion-header>

<ion-content>

  <div id="profile-bg" [ngStyle]="{'background-image': 'url(assets/profile.png)'}"></div>
  <br>

  <div id="content">
  
    <div class="ion-padding-horizontal ion-margin-vertical">
      <ion-item class="ion-text-center" lines="none">
        <h1 class="cardBorder">Authentification</h1>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="contact"></ion-icon>
        <ion-label position="floating">Adresse email</ion-label>
        <ion-input clearInput type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="lock"></ion-icon>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input clearInput type="password"></ion-input>
      </ion-item>
      <p></p>
      <div class="ion-margin-horizontal animated fadeInUp delay-1s">
        <ion-button color="tertiary" class="ion-text-capitalize" fill="solid" size="large" (click)="login()"
          expand="full" shape="round">
          <strong>Se connecter</strong>
        </ion-button>
        <ion-button color="medium" class="ion-text-capitalize" fill="clear" size="large" (click)="onClick()"
          expand="full" shape="round">
          <strong>Mot de passe oublié ?</strong>
        </ion-button>
      </div>
    </div>


  </div>


</ion-content>
