<ion-header>
  <ion-toolbar color="primary"> 
    <ion-title>Calendrier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="cardBorder"><strong>Mes Emplois su temps</strong></h2>
  <calendar [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  (onRangeChanged)="reloadSource(startTime, endTime)"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)"
  step="30">
  </calendar>

  <ion-fab (click)="logout()" class="fabLogout" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
