<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calendrier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <h2 class="cardBorder"><strong>Emploi du temps</strong></h2>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
      <ion-item>
        <ion-input type="text" placeholder="Titre" [(ngModel)]="event.title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Début</ion-label>
        <ion-datetime doneText="Valider" cancelText="Annuler" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Fin</ion-label>
        <ion-datetime doneText="Valider" cancelText="Annuler" displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Afficher sur la carte ?</ion-label>
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      </ion-item>
      <ion-button fill="solid" size="large" shape="round" expand="block" (click)="addEvent()"
        [disabled]="event.title == ''">Mettre à jour </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <!-- Change the displayed calendar mode -->
    <ion-col size="4">
      <ion-button expand="block" shape="round" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'"
        (click)="changeMode('month')">Mois</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" shape="round" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'"
        (click)="changeMode('week')">Semaine</ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" shape="round" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">
        Jour</ion-button>
    </ion-col>

    <!-- Move back one screen of the slides -->
    <ion-col size="6" text-left>
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="6" text-right>
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)" (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" step="30">
  </calendar>

  <ion-fab (click)="logout()" class="fabLogout" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="exit"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>