<ion-content style="background: url(assets/loginbg.fw.png); background-size: cover">
  <ion-img src="assets/login.fw.png"></ion-img>
  <!-- <h1 class="ion-text-center titleFont">Ramsé</h1> -->
  <p class="ion-text-center ion-margin-horizontal"><strong>{{'LOGIN.slogan' | translate }} </strong></p>
  <br>
  <ion-grid class="ion-margin-vertical">
      <ion-row>
        <ion-col *ngFor="let item of menus; let i =index" (click)="navigateTo(item.target)" class="ion-text-center animated zoomIn delay-{{i}}s" size="6" tappable button>
          <ion-img class="icon" [src]="item.icon"></ion-img>
          <p><ion-card-title>{{item.title | translate }}</ion-card-title></p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab (click)="openLanguagePopover($event)" vertical="top" fill="clear" horizontal="end" slot="fixed">
      <ion-button color="medium" fill="clear"><ion-icon slot="icon-only" name="more"></ion-icon></ion-button>
    </ion-fab>
</ion-content>
